
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


/*-------------
TILBAGE PIL 
---------------*/
.pil-btn {
    position: absolute;
    width: 10vw;
    height: 10vh;
    top: 22vh;
    left: 8vw;
    background-image: url("../img/pil.svg");
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 12;
}



/*---------------------------------------
SKATTEKISTE KNAP, GLØD EFFEKT OG TOGGLE 
-----------------------------------------*/
.skattekiste-btn {
    position: absolute;
    width: 12vw;
    bottom: 8vh;
    left: 35vw;
    z-index: 12;
    cursor: pointer;
    filter: drop-shadow(0 0 10px #ffdd55) drop-shadow(0 0 30px #ffdd55);
    animation: skattekiste-btn 1s infinite alternate;
}

/* pulserende glød effekt */
@keyframes skattekiste-btn {
    from {
        filter: drop-shadow(0 0 10px #ffdd55);
    }

    to {
        filter: drop-shadow(0 0 30px #ffdd55);
    }
}

.skattekiste-btn.open {
    position: absolute;
    width: 12vw;
    bottom: 8vh;
    left: 35vw;
    z-index: 12;
    content: url("../img/skattekiste-open.svg");
}




/*-------------------
BAGGRUND OG AKVARIE
--------------------*/
.baggrund {
    background: #F4DE9C;
    z-index: 0;
    height: 100vh;
}

.akvarie {
    width: 90vw;
    position: absolute;
    top: 1.5vh;
    left: 5vw;
    z-index: 1;
}

/*-----
STEN
------*/
.sten-1 {
    position: absolute;
    left: 48vw;
    bottom: 8vh;
    width: 12vw;
    z-index: 5;
    transform: rotate(-2deg);
}

.sten-2 {
    position: absolute;
    right: 10vw;
    bottom: 8vh;
    width: 12vw;
    z-index: 8;
}

.sten-3 {
    position: absolute;
    right: 26vw;
    bottom: 8vh;
    width: 8vw;
    z-index: 6;
}

.sten-4 {
    position: absolute;
    left: 20vw;
    bottom: 7.5vh;
    width: 10vw;
    z-index: 6;
    transform: rotate(-1deg);
}

.sten-5 {
    position: absolute;
    left: 8vw;
    bottom: 7.5vh;
    width: 8vw;
    z-index: 6;
    transform: rotate(-1deg);
}

/*---------- 
MUSLINGER
-----------*/
.pink-musling {
    position: absolute;
    right: 20vw;
    bottom: 8vh;
    width: 3vw;
    z-index: 10;
}


.gul-musling {
    position: absolute;
    left: 15vw;
    bottom: 7.5vh;
    width: 5vw;
    z-index: 6;
}

.green-musling {
    position: absolute;
    left: 29vw;
    bottom: 8vh;
    width: 4vw;
    z-index: 2;
}

/*-----
TANG
------*/
.akvarie-tang-1 {
    position: absolute;
    right: 40vw;
    bottom: 8vh;
    width: 22vw;
    z-index: 4;
}

.akvarie-tang-2 {
    position: absolute;
    left: 8vw;
    bottom: 8vh;
    width: 14vw;
    z-index: 5;
}

.akvarie-tang-3 {
    position: absolute;
    right: 10vw;
    bottom: 8vh;
    width: 10vw;
    z-index: 6;
}

.akvarie-tang-4 {
    position: absolute;
    right: 28vw;
    bottom: 8vh;
    width: 8vw;
    z-index: 4;
}

.akvarie-tang-5 {
    position: absolute;
    left: 24vw;
    bottom: 8vh;
    width: 10vw;
    z-index: 2;
}

.akvarie-tang-6 {
    position: absolute;
    right: 24vw;
    bottom: 8vh;
    width: 7vw;
    z-index: 1;
}



/*-----------
FISKE ANIMATIONER
-------------*/
.klovnfisk {
    position: absolute;
    bottom: 38vh;
    right: 10vw;
    width: 12vw;
    animation: klovnfisk 25s linear infinite;
    cursor: pointer;
    z-index: 3;
}

@keyframes klovnfisk {
    0% {transform: translate(0, 0) scaleX(1);}                /* fisken er på startposition (0,0) og vender mod højre scaleX(1) */
    25% {transform: translate(-30vw, 4vh) scaleX(1);}         /* fisken svømmer mod venstre og lidt ned (-30vw, 4vh), fisken vender stadig mod højre */
    50% {transform: translate(-70vw, 0) scaleX(1);}           /* fisken er svømmet 70vw af skærmen mod venstre, tilbage i samme højde igen og vender mod højre */
    51% {transform: translate(-70vw, 0) scaleX(-1);}          /* samme position og højde som ved 50%, spejlvendt så den nu vender mod venstre */
    75% {transform: translate(-30vw, 4vh) scaleX(-1);}        /* fisken svømmer tilbage mod højre, vendt mod venstre */
    100% {transform: translate(0, 0) scaleX(-1);}             /* tilbage til start punktet, looper så fisken vender sig igen og starter forfra */
}


.laks {
    position: absolute;
    top: 24vh;
    left: 10vw;
    width: 12vw;
    animation: laks 22s linear infinite;
    cursor: pointer;
    z-index: 7;
}

@keyframes laks {
    0% {transform: translate(0,0) scaleX(1);}
    25% {transform: translate(30vw, 6vh) scaleX(1);}
    50% {transform: translate(70vw, 0) scaleX(1);}
    51% {transform: translate(70vw, 0) scaleX(-1)}
    75% {transform: translate(30vw, 6vh) scaleX(-1);}
    100% {transform: translate(0, 0) scaleX(-1);}
}


.lilla-fisk {
    position: absolute;
    bottom: 52vh;
    left: 10vw;
    width: 8vw;
    animation: lilla-fisk 30s linear infinite;
    cursor: pointer;
    z-index: 10;
}

@keyframes lilla-fisk {
    0% {transform: translateX(0);}
    48% {transform: translateX(70vw) rotateY(0);}
    50% {transform: translateX(70vw) rotateY(180deg);}
    98% {transform: translateX(0) rotateY(180deg);}
    100% {transform: translateX(0) rotateY(0);}
}



/*-----------------------------------
FISK MED ANIMATION OG TOGGLE EFFEKT
-------------------------------------*/

.green-fisk {
    position: absolute;
    bottom: 12vh;
    left: 10vw;
    width: 10vw;
    animation: green-fisk 25s linear infinite;
    cursor: pointer;
    z-index: 3;
}

@keyframes green-fisk {
    0% {transform: translateX(0);}
    49% {transform: translateX(70vw) rotateY(0);}
    50% {transform: translateX(70vw) rotateY(180deg);}
    99% {transform: translateX(0) rotateY(180deg);}
    100% {transform: translateX(0) rotateY(0);}
}

/* green-fisk toggle i js, fisken bøvser med åben mund*/
.green-fisk.burp {
    position: absolute;
    bottom: 12vh;
    left: 10vw;
    width: 10vw;
    cursor: pointer;
    z-index: 3;
    content: url("../img/green-fisk-burp.svg")
}



.pink-fisk {
    position: absolute;
    bottom: 24vh;
    right: 10vw;
    width: 10vw;
    animation: pink-fisk 20s linear infinite;
    cursor: pointer;
    z-index: 5;
}

@keyframes pink-fisk {
    0% {transform: translateX(0) rotateY(180deg);}
    49% { transform: translateX(-70vw) rotateY(180deg);}
    50% {transform: translateX(-70vw) rotateY(0);}
    99% {transform: translateX(0) rotateY(0);}
    100% {transform: translate(0,0);}
}

/* pink-fisk toggle i js, fisken nyser*/
.pink-fisk.nys {
    position: absolute;
    bottom: 24vh;
    right: 10vw;
    width: 9.5vw;
    cursor: pointer;
    z-index: 5;
    content: url("../img/pink-fisk-nys.svg");
}


/*-------------
KRABBE OG TOGGLE
---------------*/
.krabbe {
    position: absolute;
    right: 42vw;
    bottom: 14vh;
    width: 6vw;
    z-index: 6;
    transform: rotate(10deg);
    opacity: 1;
    cursor: pointer;
}

/* skal bruges til en toggle i js */
.krabbe.blink {
    position: absolute;
    right: 42vw;
    bottom: 14vh;
    width: 6vw;
    z-index: 6;
    transform: rotate(10deg);
    content: url("../img/krabbe-blink.svg");
}


/*------------------------------------
MEDIA BREAKPOINT RESPONSIVE DESIGN
-------------------------------------*/
@media (max-width: 1366px) {

    .akvarie {
        position: absolute;
        width: 90vw;
        height: 90vh;
    }

    .skattekiste-btn {
        position: absolute;
        bottom: 19vh;
    }

    .krabbe {
        position: absolute;
        bottom: 27vh;
    }

    .pink-fisk {
        position: absolute;
        bottom: 30vh;
    }

    .green-fisk {
        position: absolute;
        bottom: 25vh;
    }

    .pil-btn {
        position: absolute;
        top: 24vh;
    }


    /* tangen */
    .akvarie-tang-1 {position: absolute; bottom: 23vh;}

    .akvarie-tang-2 {position: absolute; bottom: 23vh;}

    .akvarie-tang-3 {position: absolute; bottom: 23vh;}

    .akvarie-tang-4 {position: absolute; bottom: 23vh;}

    .akvarie-tang-5 {position: absolute; bottom: 23vh;}

    .akvarie-tang-6 {position: absolute;bottom: 23vh;}


    /* stenene */
    .sten-1 {position: absolute; bottom: 23vh;}

    .sten-2 {position: absolute; bottom: 23vh;}

    .sten-3 {position: absolute; bottom: 23vh;}

    .sten-4 {position: absolute; bottom: 23vh;}

    .sten-5 {position: absolute; bottom: 23vh;}


    /* muslingerne */
    .pink-musling {position: absolute; bottom: 23vh;}

    .green-musling {position: absolute; bottom: 23vh;}

    .gul-musling {position: absolute; bottom: 23vh;}




    

    
}