
/* import af font */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* farve variabler i root*/
:root {
    --color-bg-top: #9adfe9;
    --color-bg-mid: #71b5de;
    --color-bg-bot: #4a83be;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}



/*------------------------------
TILBAGE PIL OG SKATTEKISTE KNAP
--------------------------------*/
.pil-btn {
    position: absolute;
    width: 10vw;
    height: 10vh;
    top: 22vh;
    left: 8vw;
    background-image: url("../img/pil.svg");
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}

.skattekiste-btn {
    position: absolute;
    width: 12vw;
    height: 16vh;
    bottom: 8vh;
    left: 35vw;
    background-image: url("../img/skattekiste.svg");
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}


/*-------------------
ELEMENTER
--------------------*/
.baggrund {
    background: linear-gradient(var(--color-bg-top), var(--color-bg-mid), var(--color-bg-bot));
    z-index: 0;
    min-height: 120vh;
}

.akvarie {
    width: 90vw;
    max-width: 100vw;
    position: absolute;
    top: 1.5vh;
    left: 5vw;
    z-index: 1;
}

.sten-1 {
    position: absolute;
    left: 48vw;
    bottom: 8vh;
    width: 12vw;
    z-index: 6;
    transform: rotate(-2deg);
}

.sten-2 {
    position: absolute;
    right: 10vw;
    bottom: 8vh;
    width: 12vw;
    z-index: 3;
}

.sten-3 {
    position: absolute;
    right: 26vw;
    bottom: 8vh;
    width: 8vw;
    z-index: 6;
}

.sten-4 {
    position: absolute;
    left: 20vw;
    bottom: 7.5vh;
    width: 10vw;
    z-index: 3;
    transform: rotate(-1deg);
}

.sten-5 {
    position: absolute;
    left: 8vw;
    bottom: 7.5vh;
    width: 8vw;
    z-index: 3;
    transform: rotate(-1deg);
}


.pink-musling {
    position: absolute;
    right: 20vw;
    bottom: 8vh;
    width: 3vw;
    z-index: 4;
}

.green-musling {
    position: absolute;
    left: 29vw;
    bottom: 8vh;
    width: 4vw;
    z-index: 2;
}

.gul-musling {
    position: absolute;
    left: 15vw;
    bottom: 8vh;
    width: 4vw;
    z-index: 6;
}

.krabbe {
    position: absolute;
    right: 42vw;
    bottom: 16vh;
    width: 5vw;
    z-index: 6;
    transform: rotate(10deg);
}

.akvarie-tang-1 {
    position: absolute;
    right: 40vw;
    bottom: 8vh;
    width: 22vw;
    z-index: 5;
}

.akvarie-tang-2 {
    position: absolute;
    left: 8vw;
    bottom: 8vh;
    width: 12vw;
    z-index: 2;
}

.akvarie-tang-3 {
    position: absolute;
    right: 10vw;
    bottom: 8vh;
    width: 10vw;
    z-index: 2;
}

.akvarie-tang-4 {
    position: absolute;
    right: 28vw;
    bottom: 8vh;
    width: 8vw;
    z-index: 4;
}

.akvarie-tang-5 {
    position: absolute;
    left: 22vw;
    bottom: 8vh;
    width: 8vw;
    z-index: 2;
}


/*-----------
ANIMATIONER
-------------*/
.klovnfisk {
    position: absolute;
    bottom: 38vh;
    right: 10vw;
    width: 12vw;
    animation: klovnfisk 25s linear infinite;
    cursor: pointer;
    z-index: 3;
}

@keyframes klovnfisk {
    0% {transform: translate(0, 0) scaleX(1);}                /* fisken er på startposition (0,0) og vender mod højre scaleX(1) */
    25% {transform: translate(-30vw, 4vh) scaleX(1);}         /* fisken svømmer mod venstre og lidt ned (-30vw, 4vh), fisken vender stadig mod højre */
    50% {transform: translate(-70vw, 0) scaleX(1);}           /* fisken er svømmet 70vw af skærmen mod venstre, tilbage i samme højde igen og vender mod højre */
    51% {transform: translate(-70vw, 0) scaleX(-1);}          /* samme position og højde som ved 50%, spejlvendt så den nu vender mod venstre */
    75% {transform: translate(-30vw, 4vh) scaleX(-1);}        /* fisken svømmer tilbage mod højre, vendt mod venstre */
    100% {transform: translate(0, 0) scaleX(-1);}             /* tilbage til start punktet, looper så fisken vender sig igen og starter forfra */
}


.laks {
    position: absolute;
    top: 24vh;
    left: 10vw;
    width: 12vw;
    animation: laks 22s linear infinite;
    cursor: pointer;
    z-index: 7;
}

@keyframes laks {
    0% {transform: translate(0,0) scaleX(1);}
    25% {transform: translate(30vw, 6vh) scaleX(1);}
    50% {transform: translate(70vw, 0) scaleX(1);}
    51% {transform: translate(70vw, 0) scaleX(-1)}
    75% {transform: translate(30vw, 6vh) scaleX(-1);}
    100% {transform: translate(0, 0) scaleX(-1);}
}


.green-fisk {
    position: absolute;
    bottom: 12vh;
    left: 10vw;
    width: 10vw;
    animation: green-fisk 25s linear infinite;
    cursor: pointer;
    z-index: 3;
}

@keyframes green-fisk {
    0% {transform: translateX(0);}
    49% {transform: translateX(70vw) rotateY(0);}
    50% {transform: translateX(70vw) rotateY(180deg);}
    99% {transform: translateX(0) rotateY(180deg);}
    100% {transform: translateX(0) rotateY(0);}
}


.pink-fisk {
    position: absolute;
    bottom: 22vh;
    right: 10vw;
    width: 10vw;
    animation: pink-fisk 16s linear infinite;
    cursor: pointer;
    z-index: 5;
}

@keyframes pink-fisk {
    0% {transform: translateX(0) rotateY(180deg);}
    49% { transform: translateX(-70vw) rotateY(180deg);}
    50% {transform: translateX(-70vw) rotateY(0);}
    99% {transform: translateX(0) rotateY(0);}
    100% {transform: translateX(0) translateY(0);}
}


.lilla-fisk {
    position: absolute;
    bottom: 50vh;
    left: 10vw;
    width: 8vw;
    animation: lilla-fisk 30s linear infinite;
    cursor: pointer;
    z-index: 10;
}

@keyframes lilla-fisk {
    0% {transform: translateX(0);}
    48% {transform: translateX(70vw) rotateY(0);}
    50% {transform: translateX(70vw) rotateY(180deg);}
    98% {transform: translateX(0) rotateY(180deg);}
    100% {transform: translateX(0) rotateY(0);}
}



/*------------------------------------
MEDIA BREAKPOINTS RESPONSIVE DESIGN
-------------------------------------*/
