
/* import af font */
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* farve variabler i root*/
:root {
    --color-bg-top: #9adfe9;
    --color-bg-mid: #71b5de;
    --color-bg-bot: #4a83be;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


/*---------
BAGGRUND 
----------*/
.baggrund {
    background: linear-gradient(var(--color-bg-top), var(--color-bg-mid), var(--color-bg-bot));
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

.sand {
    position: absolute;
    width: 100vw;
    top: 70vh;
    bottom: 0vh;
}


/*------------
SKATTEKISTE KNAPPEN
--------------*/
.skattekiste-btn {
    position: absolute;
    width: 30vw;
    height: 35vh;
    bottom: 16vh;
    left: 50vw;
    background-image: url("../img/skattekiste.svg");
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}


/*------------------------------
ELEMEMENTER 
--------------------------------*/
.akvariemanden {
    position: absolute;
    bottom: 12vh;
    left: 35vw;
    z-index: 6;
    width: 14vw;
    cursor: pointer;
}

.talebobbel {
    position: absolute;
    bottom: 50vh;
    width: 20vw;
    left: 35vw;
    z-index: 50;
}

.green-tang-1 {
    position: absolute;
    bottom: 20vh;
    left: 3vw;
    z-index: 4;
    width: 12vw;
}

.green-tang-2 {
    position: absolute;
    bottom: 22vh;
    left: 14vw;
    z-index: 4;
    width: 8vw;

}

.green-tang-3 {
    position: absolute;
    bottom: 28vh;
    right: 14vw;
    z-index: 4;
    width: 11vw;
    transform: scaleX(-1);

}

.green-tang-4 {
    position: absolute;
    bottom: 20vh;
    right: 1vw;
    z-index: 5;
    width: 12vw;
    transform: scaleX(-1);
}

.lilla-tang-1 {
    position: absolute;
    bottom: 20vh;
    right: 2vw;
    z-index: 5;
    width: 6vw;
}

.lilla-tang-2 {
    position: absolute;
    bottom: 10vh;
    left: 20vw;
    z-index: 6;
    width: 10vw;
}

.gul-tang-1 {
    position: absolute;
    z-index: 4;
    bottom: 20vh;
    left: 25vw;
    z-index: 2;
    width: 10vw;
}

.gul-tang-2 {
    position: absolute;
    bottom: 20vh;
    right: 10vw;
    z-index: 6;
    width: 8vw;
}

.sten-1 {
    position: absolute;
    bottom: 18vh;
    left: 28vw;
    z-index: 5;
    width: 10vw;
}

.sten-2 {
    position: absolute;
    bottom: 5vh;
    left: 20vw;
    z-index: 6;
    width: 10vw;
}

.sten-3 {
    position: absolute;
    bottom: 18vh;
    left: 4vw;
    z-index: 5;
    width: 16vw;
}

.sten-4 {
    position: absolute;
    bottom: 20vh;
    right: 14vw;
    z-index: 5;
    width: 12vw;
}

.sten-5 {
    position: absolute;
    bottom: 14vh;
    right: 2vw;
    z-index: 7;
    width: 16vw;
}

.pink-musling {
    position: absolute;
    bottom: 14vh;
    left: 6vw;
    width: 4vw;
    z-index: 5;
}

.green-musling {
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    width: 5vw;
    z-index: 8;
    transform: rotate(45deg);
}

.gul-musling {
    position: absolute;
    bottom: 4vh;
    left: 26vw;
    width: 5vw;
    z-index: 7;
}


/*-------------
ANIMATIONER
---------------*/
.klovnfisk {
    position: absolute;
    top: 10vh;
    left: 10vw;
    z-index: 6;
    width: 8vw;
    animation: klovnfisk 20s linear infinite;
}

@keyframes klovnfisk {
    0% {transform: translate(0, 0) scaleX(1);}
    25% {transform: translate(40vw, 2vh) scaleX(1);}
    50% {transform: translate(70vw, 0) scaleX(1);}
    51% {transform: translate(70vw, 0) scaleX(-1);}
    75% {transform: translate(40vw, 2vh) scaleX(-1);}
    100% {transform: translate(0, 0) scaleX(-1);}
}


.krabbe {
    position: absolute;
    bottom: 10vh;
    right: 18vw;
    z-index: 10;
    width: 8vw;
    animation: krabbe 5s linear infinite;
}

@keyframes krabbe {
    0% {transform: translateX(0) scaleX(1);}
    50% {transform: translateX(-10px) scaleX(1);}
    100% {transform: translateX(0) scaleX(1);}
}


.lilla-fisk {
    position: absolute;
    top: 20vh;
    right: 5vw;
    z-index: 6;
    width: 10vw;
    animation: lilla-fisk 18s linear infinite;
}

@keyframes lilla-fisk {
    0% {transform: translate(0, 0) scaleX(-1);}                   
    25% {transform: translate(-30vw, 4vh) scaleX(-1);}            
    50% {transform: translate(-70vw, 0vh) scaleX(-1);}
    51% {transform: translate(-70vw, 0vh) scaleX(1);}
    75% {transform: translate(-30vw, -4vh) scaleX(1);}
    100% {transform: translate(0, 0) scaleX(1);}
}

.pink-fisk {
    position: absolute;
    bottom: 50vh;
    left: 5vw;
    z-index: 3;
    width: 6vw;
    animation: pink-fisk 18s linear infinite;
}

@keyframes pink-fisk {
0% {transform: translate(0, 0) scaleX(1);}
25% {transform: translate(20vw, 2vh) scaleX(1);}
50% {transform: translate(40vw, 0vh) scaleX(1);}
51% {transform: translate(40vw, 0) scaleX(-1);}
75% {transform: translate(20vw, 2vh) scaleX(-1);}
100% {transform: translate(0, 0) scaleX(-1);}
}

.green-fisk {
    position: absolute;
    bottom: 20vh;
    left: 10vw;
    z-index: 4;
    width: 10vw;
    animation: green-fisk 12s linear infinite;
}

@keyframes green-fisk {
    0% {transform: translate(0, 0) scaleX(1)}
    25% {transform: translate(10vw, 4vh) scaleX(1)}
    50% {transform: translate(20vw, 0) scaleX(1)}
    51% {transform: translate(20vw, 0) scaleX(-1)}
    75% {transform: translate(10vw, -4vh) scaleX(-1)}
    100% {transform: translate(0, 0) scaleX(-1)}
}

.laks {
    position: absolute;
    bottom: 25vh;
    right: 20vw;
    z-index: 5;
    width: 8vw;
    animation: laks 14s linear infinite;
}

@keyframes laks {
    0% {transform: translate(0, 0) scaleX(-1);}
    25% {transform: translate(10vw, -4vh) scaleX(-1);}
    50% {transform: translate(20vw, 0) scaleX(-1);}
    51% {transform: translate(20vw, 0) scaleX(1);}
    75% {transform: translate(10vw, -4vh) scaleX(1);}
    100% {transform: translate(0, 0) scaleX(1);}
}

.bobler {
    position: absolute;
    bottom: 22vh;
    left: 4vw;
    z-index: 10;
    width: 4vw;
}


/*-----------------------------------------------------------------
MEDIA BREAKPOINTS RESPONSIVE DESIGN TIL IPAD AIR 13 INCH 1366x1024
------------------------------------------------------------------*/


